.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    min-width: 320px;
    width: 100vw;
    height: 100vh;

    background-color: var(--backdrop-background-color);

    @include animated(opacity);

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
    }
}