.contacts-head {
    display: none;    

    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    @media screen and (min-width: $tablet) {
        display: block;
    }

    @media screen and (min-width: $desktop) {
        display: flex;

        margin-left: auto;

        font-size: 14px;
        line-height: 16px;
    }
}

.contacts-head__item {

    @media screen and (min-width: $tablet) and (max-width: calc($desktop - 1px)) {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0px;
        }
    }

    @media screen and (min-width: $desktop) {
        margin-right: 50px;
        
            &:last-child {
                margin-right: 0;
            }
    }

    
}

.contacts-head__link {
    display: flex;
    align-items: center;

    color: var(--main-text-color);

    @include animated(color);

    &:focus,
    &:hover {
        color: var(--action-color);
    }
}

.contacts-head__icon {
    fill: currentColor;
    margin-right: 10px;
}