.feature {
    display: block;

    @media screen and (min-width: $tablet) {
        display: flex;   
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }
}

.feature__item {
    display: block;
    width: 100%;

    @media screen and (max-width: calc($tablet - 1px)) {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    @media screen and (min-width: $tablet) {
        width: 354px;                    
    }

    @media screen and (min-width: $desktop) {
        width: 270px;
    }    
}

.feature__container {
    margin-bottom: 30px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;

    background-color: var(--feature-icon-background-color);
}

.feature__title {
    margin-top: 0;
    margin-bottom: 10px;

    color: var(--title-text-color);

    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.03em;

    @media screen and (max-width: calc($tablet - 1px)) {
        text-align: center;
    }
}

.feature__text {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}