.footer-contacts__container {
    margin-bottom: 60px;

    @media screen and (min-width: $tablet) {
        margin-right: 165px;
    }

    @media screen and (min-width: $desktop) {
        margin-bottom: 0;
        margin-right: 70px;
    }
}


.footer-contacts__item {
    margin-bottom: 9px;

    text-align: center;

    &:last-child {
        margin-bottom: 0;
    }

    @media screen and (min-width: $desktop) {
        text-align: left;
    }
}

.footer-contact__link {
    color: var(--footer-mailphone-text-color);

    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    @include animated(color);

    transition-property: color;
    transition-duration: var(--trans-duration);
    transition-timing-function: var(--trans-timing);

    &:focus,
    &:hover {
        color: var(--action-color);
    }
}

.footer-contact__link-adress {
    color: var(--footer-contact-link-adress-colot);
}