.footer-social__container {    
    margin-bottom: 60px;

    @media screen and (min-width: $tablet) {
        margin-bottom: 0;
    }

    @media screen and (min-width: $desktop) {
        margin-right: 93px;
    }
}

.footer-social-list {
    justify-content: center;    
}

.footer-social__title {
    margin-bottom: 20px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;

    color: var(--footer-social-title-color);

    @media screen and (min-width: $desktop) {
        text-align: left;
    }
}

.footer-social-list__link {
    color: var(--footer-social-icon-color);
    background-color: var(--footer-social-icon-background-color-passed);

    @include animated(background-color);

    &:hover,
    &:focus {
        background-color: var(--footer-social-icon-background-color-actived);
    }
}