.logo {
    display: block;
    /* display: inline-block; */

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;

    color: var(--title-text-color);

    @media screen and (min-width: $desktop) {
        font-size: 26px;
        line-height: 31px;             
    }

    
}

.logo--web {
    color: var(--action-color);
}

.header__logo {
    @media screen and (max-width: calc($tablet - 1px)) {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    @media screen and (min-width: $tablet) {
        margin-right: 88px;
    }

    @media screen and (min-width: $desktop) {
        margin-right: 93px;
    }
}

.footer--logo {
    margin-bottom: 20px;

    text-align: center;

    color: var(--hero-title-color);

    @media screen and (min-width: $desktop) {
        text-align: left;
    }
}