.navigate-mobile-menu__button {
    padding: 0;
    border: none;

    background-color: transparent;

    @media screen and (min-width: $tablet) {
        display: none;
    }

    @include animated(fill);

    &:hover,
    &:focus {
        fill: var(--modal-action-color);
    }
}

.navigate-mobile-menu__button--close {
    position: absolute;
    top: 10px;
    right: 15px;

    @include animated(fill);

    &:hover,
    &:focus {
        fill: var(--modal-action-color);
    }
}

.mobile-menu {
    position: fixed;
    /* top: 0;
    left: 0; */
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;

    min-width: 320px;
    width: 100vw;    
    height: 100vh;

    padding-top: 48px;
    padding-left: 40px;
    padding-bottom: 48px;

    background-color: white;
    /* background-color: green; */

    @include animated(opacity);

    &.is-close {
        /* display: none; */
        opacity: 0;
        pointer-events: none;
    }

    @media screen and (min-width: $tablet) {
        display: none;
    }
}



.navigate-mobile__list {
    margin-bottom: calc(100vh - 530px);
    /* margin-bottom: 300px; */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;

    color: #212121;
}

.navigate-mobile__item {
    &:not(:last-child) {
        margin-bottom: 32px;
    }
}

.navigate-mobile__link {
    color: var(--title-text-color);

    @include animated(color);

    &:hover,
    &:focus {
        color: var(--action-color);
    }
}

.navigate-mobile__link--current {
    color: var(--action-color);
}

.contacts-mobile__list {
    margin-bottom: 64px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.contact-mobile__item {
    margin-bottom: 32px;

    &:last-child {
        margin-bottom: 0;
    }
}

.contacts-mobile__link {
    color: var(--main-text-color);
    
    @include animated(color);
    
    &:hover,
    &:focus {
        color: var(--action-color);
    }
}

.contacts-mobile__link--phone {
    font-size: 34px;
    line-height: 40px;  
}

.contacts-mobile__link--mail {
    font-size: 24px;
    line-height: 28px;
}

.socials-mobile__list {
    display: flex;
    flex-wrap: wrap;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
}

.social-mobile__item {
    
    &:not(:last-child) {
        padding-right: 10px;
        margin-right: 10px;    
        border-right: 1px solid rgba(33, 33, 33, 0.2);    
    }
}

.social-mobeli__link {
    color: var(--action-color);

    @include animated(color);
    
    &:hover,
    &:focus {
        color: var(--modal-btn-action-color);
    }
}