.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 320px;
    width: calc(100% - 30px);
    padding: 40px;

    background-color: var(--modal-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    text-align: left;   

    @media screen and (min-width: $mobile) {
        width: 450px;
    }

    @media screen and (min-width: $desktop) {
        width: 528px;
    }

}

.modal__button--close {
    position: absolute;
    right: 8px;
    top: 8px;

    width: 30px;
    height: 30px;

    border-radius: 50%;
    border: 1px solid var(--modal-button-close-border-color);
    background-color: var(--btn-text-color);
    
    line-height: 0;
    cursor: pointer;

    @include animated(fill);

    &:hover,
    &:focus {
        fill: var(--modal-action-color);
    }
}

.modal__title {
    margin-bottom: 12px;

    color: #212121;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.03em;

    @media screen and (min-width: $desktop) {
        line-height: 23px;
    }
}

.field-fill {
    display: block;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.field-fill__title {
    display: block;
    margin-bottom: 4px;

    color: var(--modal-field-fill-title-color);

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
}

.field-fill__input {
    width: 100%;
    height: 40px;
    padding-left: 42px;

    border: 1px solid var(--modal-field-fill-input-border-color);
    border-radius: 4px;
    outline: none;
    
    @include animated(border-color);

    .field-fill:focus-within & {
        border-color: var(--modal-action-color);
    }
}

.field-fill--input-group {
    position: relative;
}

.field-fill__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    @include animated(fill);

    .field-fill:focus-within & {
        fill: var(--modal-action-color);
    }
}

.field-fill--textarea-group {
    margin-bottom: 20px;
    display: block;
}

.field-fill__textarea {
    width: 100%;
    height: 120px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;

    border: 1px solid var(--modal-field-fill-textarea-border-color);
    border-radius: 4px;
    outline: none;

    resize: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;    

    &::placeholder {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.01em;
    
        color: rgba(117, 117, 117, 0.5);
        }

    @media screen and (min-width: $desktop) {
        &::placeholder {
            font-size: 12px;
            line-height: 14px;
        }
    }

    @include animated(border-color);

    .field-fill--textarea-group:focus-within > & {
        border-color: var(--modal-action-color);
    }
}

.field-fill--checkbox-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.field-fill__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.field-fill__checkbox-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;

    color: var(--modal-field-fill-checkbox-text-color);

    @media screen and (min-width: $desktop) {
        font-size: 14px;
        line-height: 24px;
    }
}

.field-fill__checkbox-link {
    color: var(--modal-action-color);
}

.field-fill__checkbox-icon--check {
    display: none;

    .field-fill__checkbox:checked ~ & {
        display: block;
        background-color: var(--modal-action-color);
        margin-right: 8.38px;
        border-radius: 2px;
    }
}

.field-fill__checkbox-icon--uncheck {
    margin-right: 8.38px;

    .field-fill__checkbox:checked~& {
        display: none;
    }
}

.modal__button--submit {
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;

    border: none;
    background-color: var(--modal-btn-color);
    box-shadow: 0px 4px 4px var(--modal-button-submit-box-shadow-color);
    border-radius: 4px;

    color: var(--modal-button-submit-color);

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.06em;    

    cursor: pointer;

    @include animated(background-color);

    &:focus,
    &:hover {
        background-color: var(--modal-btn-action-color);
    }
}