.section-team {
    background-color: var(--second-background-color);
}

.team {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.team__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;

    background-color: var(--team-cards-background-color);
}

.team__title {
    margin-bottom: 10px;
    color: var(--title-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team__text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 16px;
}

.team__photo {
    margin-bottom: 30px;
    /* display: block;

    max-width: 100%;
    height: auto; */

    /* @media screen and (min-width: $mobile) {
        width: 450px;
    } */

    @media screen and (min-width: $tablet) {
        width: 354px;
    }

    @media screen and (min-width: $desktop) {
        width: 270px;
    }
    
}

.team__list {
    justify-content: center;
}

.our-team-social-list__link {
    color: var(--team-social-icon-color-passed);
    background-color: var(--team-cards-background-color);

    @include animated(background-color, color);

    &:focus,
    &:hover {
        background-color: var(--team-social-icon-backgroundcolor-actived);
        color: var(--team-social-icon-color-aktived);
    }
}

