.filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-bottom: 25px;

    @media screen and (min-width: $tablet) {
        justify-content: center;
        margin-bottom: 30px;
    }

    @media screen and (min-width: $desktop) {
        margin-bottom: 50px;
    }
}

.filter__item {
    margin-right: 8px;

    &:last-child {
        margin-right: 0;
    }

    @media screen and (max-width: calc($tablet - 1px)) {
            margin-bottom: 15px;
    }
}

.filter_button {
    min-width: 73px;
    padding: 6px 22px;

    background-color: var(--second-background-color);
    color: var(--title-text-color);

    letter-spacing: 0.03em;
    line-height: 26px;
    font-weight: 500;

    @include animated(background-color, color, box-shadow);

    &:focus,
    &:hover {
        background-color: var(--action-color);
        color: var(--hero-btn-text-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

